*.csproj
*.sln
*.pyc
*.iml
.vs/
.idea/
.gradle/
venv/
Library/
StreamingAssets/
StreamingAssets.meta
package/
Temp/
TP/
LogFile/
Temp.meta
TP.meta
/Tools/
/Logs/
/Assets/Plugins/Android/fabric/res/values/string.xml
/Pandora/report
*.zip
Native/ios/
Native/key/
Native/package/
AssetBundleMap/
AssetBundleMap.meta
obj/
Assets/Plugins/Editor/JetBrains/
Assets/Plugins/Editor/JetBrains.meta
Assets/Plugins/Editor.meta
*.svn
*.DotSettings
*.user
Native/android/version/
Assets/VehiclePhysics/
Assets/VehiclePhysics.meta
